<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/static#">Cats</a>
                </li>
                <li>
                    <a href="/static#about">About</a>
                </li>
                <li>
                    <a href="/static#contacts">Contacts</a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="root">

    </main>
    <footer>
        @JuanRibeiroRodrigues
    </footer>

    <script src="/JS/index.JS" type="module"></script>
    <script src="/JS/index2.JS" type="module"></script>
</body>

</html>