<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="nav-menu">
            <h1>STREAM-PROJECT</h1>
            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">TV Shows</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Movies</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Animes</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lastest</a></li>
            <li class="nav-item"><a href="#" class="nav-link">My List</a></li>
        </ul>
        <div class="search">
            <input type="text" placeholder="Search">
            <i class="icon-search"></i>
        </div>
        <img class="menuImage" src="/img/Login.png" alt="login">


    </nav>
</header>
            <main class="apresentacao">
                <img src="../movies/images/MenuQuint.png" alt="walllpager serie">
                <section class="apresentacao__conteudo">
                    <p>Milhares de anos após um misterioso fenômeno transformar a humanidade inteira em pedra, desperta um garoto extraordinariamente inteligente e motivado pela ciência - Senku Ishigami. Diante de um mundo de pedra e do colapso generalizado da civilização, Senku decide usar sua mente para 
                    </p>
            </section>
            </main>

    



    <section id="sua-section">
    
            <h2>POPULAR SERIES</h2>
            <p>THE BEST OF ALL TIMES.</p>

        </section>
        
        <!-- Adicione mais elementos HTML conforme necessário -->
    <section id="lista-filmes">
        <div class="filme">
            <img src="../movies/images/yahari-ore-no-seishun-love-comedy-wa-machigatteiru-zoku.webp" alt="Nome do Filme 1">
            <p>Oregairu</p>
        </div>

        <div class="filme">
            <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e1/Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg/250px-Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg" alt="Nome do Filme 2">
            <p>Oregairu</p>
        </div>
        <div class="filme">
            <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e1/Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg/250px-Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg" alt="Nome do Filme 1">
            <p>Oregairu</p>
        </div>

        <div class="filme">
            <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e1/Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg/250px-Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg" alt="Nome do Filme 2">
            <p>Oregairu</p>
        </div>
        <div class="filme">
            <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e1/Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg/250px-Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg" alt="Nome do Filme 1">
            <p>Oregairu</p>
        </div>

        <div class="filme">
            <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e1/Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg/250px-Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg" alt="Nome do Filme 1">
            <p>Oregairu</p>
        </div>

        <div class="filme">
            <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e1/Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg/250px-Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg" alt="Nome do Filme 1">
            <p>Oregairu</p>
        </div>

    
        <!-- Adicione mais filmes conforme necessário -->
    </section>

    <section id="sua-section">
        <h2>POPULAR MOVIES</h2>
        <p>THE BEST OF ALL TIMES.</p>
    </section>

    <!-- Adicione mais elementos HTML conforme necessário -->
    <section id="lista-filmes">
        <div class="filme">
            <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e1/Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg/250px-Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg" alt="Nome do Filme 1">
            <p>Oregairu</p>
        </div>

        <div class="filme">
            <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e1/Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg/250px-Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg" alt="Nome do Filme 2">
            <p>Oregairu</p>
        </div>
        <div class="filme">
            <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e1/Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg/250px-Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg" alt="Nome do Filme 1">
            <p>Oregairu</p>
        </div>

        <div class="filme">
            <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e1/Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg/250px-Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg" alt="Nome do Filme 2">
            <p>Oregairu</p>
        </div>
        <div class="filme">
            <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e1/Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg/250px-Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg" alt="Nome do Filme 1">
            <p>Oregairu</p>
        </div>
        <div class="filme">
            <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e1/Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg/250px-Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg" alt="Nome do Filme 1">
            <p>Oregairu</p>
        </div>

        <div class="filme">
            <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e1/Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg/250px-Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_cover.jpg" alt="Nome do Filme 1">
            <p>Oregairu</p>
        </div>
</body>
</html>